 

<!-- FOOTER -->
<footer class="footer grey-bg">
    &copy; {{ site.time | date: "%Y" }} 63Digital Ltd.
    <!-- SOCIAL ICONS -->
    <ul class="social-icons">
        <li>
            <a href="https://www.facebook.com/63Digital"><span class="icon-social-facebook transparent-text-dark"></span></a>
        </li>
        <li>
            <a href="https://www.twitter.com/63Digital"><span class="icon-social-twitter transparent-text-dark"></span></a>
        </li>
        
        <li>
            <a href=""><span class="icon-social-googleplus transparent-text-dark"></span></a>
        </li>
        
    </ul>

</footer>

 <script src="/js/jquery.min.js"></script>
    <script>
        /* PRE LOADER */
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(1000).fadeOut("slow");
        })
    </script>
