<!-- =========================
     SECTION: HOME / HEADER
    ============================== -->
<header class="header" data-stellar-background-ratio="0.5" id="home">



        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- LOGO -->
                    <a class="navbar-brand" href="#">
                        <img src="/images/63digital_large.png?width=270" alt="">
                    </a>
                </div>
            </div>
            <!-- /END CONTAINER -->
        </div>
        <!-- /END STICKY NAVIGATION -->
  
</header>
<!--
<div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>

          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

          -->